{{- with .Site.Data.home.hero_section }}
{{- if .enable }}
<section class="hero-section bg-dark-primary">
  <div class="max-w-[1440px] mx-auto bg-bottom bg-contain bg-no-repeat bg-[url(/images/renao-hero-bg-sm.png)] lg:bg-[url(/images/renao-hero-bg.png)]">
    <div class="container w-full lg:max-w-screen-lg xl:max-w-screen-xl mx-auto pt-[144px] lg:pt-[152px] min-h-[900px] lg:min-h-[1099px] px-5 xl:px-0">
      <div class="lg:w-3/4 lg:mx-auto lg:text-center">
        {{- if .title }}
        <h1
          class="text-[2.625rem] lg:text-[3.813rem] xl:text-[4.75rem] text-white font-semibold font-heading leading-[1.1] mb-6 xl:mb-5">
          {{ .title | safeHTML }}
        </h1>
        {{- end }}
        {{- if .description }}
        <div class="lg:w-3/4 lg:mx-auto text-[#EBE8F5] text-base lg:text-lg font-body leading-snug">
          <p>{{ .description | safeHTML }}</p>
        </div>
        {{- end }}
        {{ with .button }}
        <div class="pt-10">
          <a href="{{ .url }}"
            class="inline-block text-white text-lg lg:text-2xl font-bold font-body bg-primary rounded-[16px] lg:rounded-[20px] py-3 lg:py-4 px-10.5 lg:px-16" target="_blank">{{ .label }}</a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}